* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	color: #666;
	text-decoration: none;
}

body {
	background-color: #fff;
	width: 100%;
}

h1 {
	font-size: 1.9em;
	margin: 5px;
	padding-left: 1em;
	padding-right: 1em;
	text-shadow: -1px 2px 1px #666; 
	vertical-align: middle;
	color: #fff;

}


h6 {
	font-size: 0.6em;
	color: #999;
	margin-bottom: 20px;
}

.main {
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 3px 3px #ccc;
}

.nav-basica {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 36px;

}

.nav-basica li {
	display: inline;
	font-size: 0.7em;
}

.nav-basica a {
	font-size: 1em;
	text-decoration: none;
}

.form-box {
	border: 1px solid #ccc;
	width: 60%;
	max-width: 630px;
	box-shadow: 3px 3px 3px #ccc;
	display: inline-block;
	margin-left: 36px;
	margin-bottom: 36px;
}

.form-header {
	max-width: 630px;
	height: 100%;
	background-image: url("../images/header_form.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.Form {
	position: relative;
	padding: 10px;

}

.colsForm{
	width: 32%;
	padding-top: 36px;
	padding-bottom: 16px;
	float: left;
}

label {
	font-size: 0.7em;
}

select, input {
	width: 70%;
	font-size: 0.8em;
	padding: 5px 8px;
	border: 1px solid #666;
	margin-top: 5px;
	margin-bottom: 5px;

 }

 .tooltip {
 	vertical-align: middle;

 }

.form-simular {
	float: right;
	margin: 16px;
}

.resultados {
	vertical-align: middle;
}


button {
	  background: #C3F161;
	  background-image: -webkit-linear-gradient(top, #C3F161, #97CD1F);
	  background-image: -moz-linear-gradient(top, #C3F161, #97CD1F);
	  background-image: -ms-linear-gradient(top, #C3F161, #97CD1F);
	  background-image: -o-linear-gradient(top, #C3F161, #97CD1F);
	  background-image: linear-gradient(to bottom, #C3F161, #97CD1F);
	  -webkit-border-radius: 7;
	  -moz-border-radius: 7;
	  border-radius: 7px;
	  width: 108px;
	  height: 28px;
	  color: #576A2F;
	  font-size: 1em;
	  text-decoration: none;
	  font-weight: 600;
	  margin-left: 16px;
}


aside {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 10px;
	margin: 0 auto;
}

.telefono {
	vertical-align: middle;
	float: left;
}

.horarios {
	vertical-align: middle;
	float: left;
	border-left: 1px solid #666;
}

.celeste {
	color: #00A8CE;
	text-decoration: none;
	line-height: 1.5em;
}

.ayuda {
	vertical-align: middle;
	float: left;
	margin-left: 10px;
	margin-right: 20px;

}

.hrs {
	font-size: 0.7em;
	margin-left: 10px;
}

@media screen and (max-width: 800px) {

    .colsForm { 
    margin: 0;
    padding: 0;
	width: 80%;
	float: none;
}

select, input {
	width: 70%;
	font-size: 0.8em;
	border: 1px solid #666;


 }

button {
	margin-left: 10px;

}

.main {
	width: 100%;
}


aside {
	width: 95%;
	margin-left: 10px;

}

.form-box {
	width: 95%;
	max-width: 630px;
	margin-left: 10px;

}

